.mob_menu {
  position: absolute;
  height: 100vh;
  width: 0vw;
  top: 0;
  left: 0;
  background-color: rgb(186, 192, 197);
  transform: translateX(-100px);
  transition: width .5s;
}

.mob_menu_active {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(186, 192, 197);
  transition: width .5s;
}

.mob_menu_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.mob_menu_item a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}