.cart_page {
  border: 1px solid grey;
  margin-top: -1px;
}

.cart_page h2 {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  color: #006496;
}

.empty {
  background-color: #fff;
  text-align: center;
  color: brown;
}

.total {
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  color: #006496;
}