.day_wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 23px;
    position: relative;
    cursor: pointer;
}

.day_wrapper:hover .close_btn{
    opacity: 1;
}

.day{
    background-color: #34495E;
    font-size: 39px;
    color: #ffffff;
    border-radius: 20px 0 0 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_container{
    background-color: #ECF0F1;
    width: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.close_btn{
    background-color: #e74c3c;
    height: 28px;
    width: 28px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    right: -14px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease;
}